// out: ./no_auth/overrides

ul.dropdown-menu .user-dropdown_item {
  span {
    margin-left:4px;
  }
}
.login-body {

    background-color: #fcfcfc;

    &::after {
      background-image: none;
    }
    .login-container {
      .login-border {
        box-shadow: 0 0 6px -2px #ccc;
      }
    }
  }

.nav-iconAndLabel {
  text-align: center;
}

.page {
  padding-top: var(--breadcrumb-height, 5px);
}

.ontodia-halo__folow {
  display: block;
  top: 33%;
  left: -27px;
}
